
**/__pycache__/
data/
datasets/protein_md
datasets/ShapeNet
datasets/modelnet
datasets/omol
datasets/shapenet_car/mlcfd_data
datasets/shapenet_car/preprocessed
datasets/mnist
datasets/cifar10
datasets/scanobjectnn/
datasets/qm9/
logs/
wandb/
sweeps/
checkpoints/
outputs/
.vscode